
<div>
    <h3>Sobre nosotros</h3>
    <p> Este es un texto de relleno porque aquí debo describir en que consiste esta página pero como
        es únicamente un ejercicio para practicar routing pues a rellenar se ha dicho. Por cierto
        me parece completamente infernal el css y me da mucho palo hacerlo pero lo intento, juro
        que lo intento. Rollos aparte espero que no se esperara aquí una descripción real,
        esto lo he puesto en plan bromi pero vamos que mi idea era que no tengo ni idea de cómo describir esto.
    </p>
</div>

<app-menu [descripcion]="descripcion"></app-menu>