<h1>Calculadora</h1>
<div id="calculadora">

  <div id="inputs">
    <label for="a"> A: </label><input type="number" id="a" [(ngModel)]="a">
    <br>
    <label for="b"> B: </label><input type="number" [(ngModel)]="b">
    <br>
    <label for="sol"> Solución: </label><input type="number" id="sol" [value]="sol" readonly>
  </div>

  <div id="botones">
    <button (click)="suma()">+</button>
    <button (click)="resta()">-</button>
    <br>
    <button (click)="mult()">*</button>
    <button (click)="div()">/</button>
  </div>

</div>
